<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
  <title>CodeWars</title>
</head>
<body>
  <div class="error row">
    <div class=error__modal>
      <div class="error__modal--status"><%= status %></div>
      <div class="error__modal--message"><%= message %></div>
      <a href="/" class="btn-to-main"><button>메인으로 돌아가기</button></a>
    </div>
  </div>
</body>
</html>
