<!DOCTYPE html>
<html>
  <head>
    <title>CodeWars</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="codewars row">
      <div class="side-bar">
        <h1 class="side-bar__header__title">Kata</h1>
      
        <ul class="level-selection">
          <li class="level-selection__level"><a href="/">All</a></li>
          <li class="level-selection__level"><a href="/?level=1">Level 1</a></li>
          <li class="level-selection__level"><a href="/?level=2">Level 2</a></li>
          <li class="level-selection__level"><a href="/?level=3">Level 3</a></li>
        </ul>
      </div>

      <ul class="katas">
        <% katas.forEach((kata, index) => {%>
          <li class="katas__kata">
            <a href="problems/<%= kata.id %>">
              <div class="katas__kata--title"><%= kata.title %></div>
              <div class="katas__kata--solution">정답자: <%= kata.solution_count %>명</div>
              <div class="katas__kata--difficulty">난이도: <%= kata.difficulty_level %></div>
            </a>
          </li>
        <% })%>
      </ul>
    </div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
