*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  color: #676b6d;
  font-family: 'Lato', 'Arial', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  padding: 3rem 3rem;
  background: #424242; }

li {
  list-style: none; }

a {
  text-decoration: none; }

.row {
  margin: 0 auto;
  width: 114rem; }

.codewars {
  display: flex;
  flex-direction: row;
  border-top: 1px solid grey;
  padding-top: 2rem; }

.side-bar {
  width: 25rem;
  min-height: 70rem;
  padding: 2rem 2rem 2rem 3rem;
  background-color: rgba(0, 0, 0, 0.2); }

.side-bar__header__title {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  position: relative;
  padding-left: 3.5rem; }
  .side-bar__header__title::before {
    content: '';
    display: block;
    position: absolute;
    left: -2px;
    width: 3rem;
    height: 3rem;
    background: url(http://www.softlab.ntua.gr/~nickie/images/logo/codewars.png);
    background-size: contain; }

.level-selection {
  font-size: 2rem; }

.level-selection__level {
  margin-bottom: 1.5rem; }
  .level-selection__level a {
    width: 7rem;
    height: 3rem;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column; }

.katas {
  padding: 3rem 3rem;
  width: 70rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  .katas__kata {
    border-bottom: 1px solid grey;
    min-height: 15rem;
    padding-top: 3rem; }
    .katas__kata a {
      color: #ffffff;
      font-size: 1.6rem;
      font-weight: 300; }
    .katas__kata--title, .katas__kata--solution, .katas__kata--difficulty {
      margin-bottom: 2rem; }
    .katas__kata--title {
      transition: all .3s; }
      .katas__kata--title:hover {
        color: #6795de; }

.kata {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 2rem; }
  .kata__title {
    font-size: 2rem;
    margin-left: 3rem;
    margin-bottom: 2rem; }
  .kata__description {
    font-size: 1.7rem; }
  .kata__form {
    text-align: right; }
  .kata__submit {
    border: none;
    background-color: #6795de;
    width: 7rem;
    height: 3rem;
    border-radius: 4px;
    margin-top: 1.7rem;
    align-self: flex-end; }
  .kata__content {
    display: flex;
    position: relative; }
    .kata__content--editor {
      display: flex;
      flex-direction: column;
      padding: 3rem 3rem 0px 3rem;
      position: relative; }
      .kata__content--editor .solution-label {
        position: absolute;
        top: 0px;
        font-size: 1.5rem;
        letter-spacing: .7px;
        background-color: rgba(0, 0, 0, 0.2) !important;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 3rem;
        width: 80rem;
        padding-left: 1rem;
        font-weight: 300; }
    .kata__content--code {
      background-color: #131414;
      width: 80rem;
      height: 35rem;
      border: none;
      color: #ffffff;
      letter-spacing: 1px;
      font-size: 1.5rem;
      font-weight: 300;
      padding: 1.5rem 2rem; }
      .kata__content--code:focus {
        outline: none; }
  .kata__result-label {
    top: 0px;
    font-size: 1.5rem;
    letter-spacing: .7px;
    background-color: rgba(0, 0, 0, 0.2) !important;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 3rem;
    width: 80rem;
    padding-left: 1rem;
    font-weight: 300;
    margin-top: 2rem; }
  .kata__feedback {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    background-color: #131414;
    width: 80rem;
    height: 15rem;
    border: none;
    color: #ffffff;
    letter-spacing: 1px;
    position: relative;
    flex-grow: 1; }
    .kata__feedback--success {
      font-size: 1.2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2rem; }
    .kata__feedback span p {
      transform: translateY(1px); }
    .kata__feedback--icon-feedback {
      width: 1.7rem;
      height: 1.7rem;
      color: #7c9a44;
      margin-right: 8px; }
      .kata__feedback--icon-feedback-failed {
        color: #c05c48;
        width: 1.7rem;
        height: 1.7rem;
        color: #c05c48;
        margin-right: 8px; }
    .kata__feedback--icon-result {
      margin-right: .7rem;
      display: inline-block; }
      .kata__feedback--icon-result-failed {
        color: #c05c48; }
    .kata__feedback--detail {
      font-size: 1.3rem;
      font-weight: 300;
      margin-bottom: 7px;
      margin-left: 2.2rem;
      color: #67b04b; }
      .kata__feedback--detail p {
        display: inline-block;
        transform: translateY(-3px); }
    .kata__feedback--test-case {
      display: inline-block !important; }
    .kata__feedback--response {
      font-size: 1.2rem;
      display: inline-block; }
    .kata__feedback--failure {
      font-size: 1.2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2rem; }
  .kata__failed {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    margin-left: 2.2rem;
    color: #c05c48; }
    .kata__failed-result {
      display: block;
      padding-left: 2rem; }
    .kata__failed--test-case {
      display: inline-block !important;
      margin-bottom: 7px;
      transform: translateY(-2px); }
    .kata__failed--icon-result {
      margin-right: 3px; }
