*,
*::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    color: #676b6d;
    font-family: 'Lato', 'Arial', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
  padding: 3rem 3rem;
  background: #424242;
}

li { 
  list-style : none;
}

a {
  text-decoration: none;
}

.row {
  margin: 0 auto;
  width: 114rem;
}

.codewars {
  display: flex;
  flex-direction: row;
  border-top: 1px solid grey;
  padding-top: 2rem;
}

.side-bar {
  width: 32rem;
  min-height: 70rem;
  padding: 2rem 2rem 2rem 3rem;
  background-color: rgba(0,0,0,0.2);

  &__level {
    margin-bottom: 1.5rem;
  }
}

.side-bar__header__title {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  position: relative;
  padding-left: 3.5rem;

  &::before {
    content: '';
    display: block;
    position: absolute;
    left: -2px;
    width: 3rem;
    height: 3rem;
    background: url(/codewars.png);
    background-size: contain;
  }
}

.level-selection {
  font-size: 2rem;
}

.level-selection__level {
  margin-bottom: 1.5rem;
  display: flex;

  & a {
    width: 7rem;
    height: 3rem;
    color: #ffffff;
    font-weight: 300;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
  }
}

.katas {
  padding: 3rem 3rem;
  width: 70rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__kata {
    border-bottom: 1px solid grey;
    min-height: 15rem;
    padding-top: 3rem;

    & a {
      color: #ffffff;
      font-size: 1.6rem;
      font-weight: 300;
    }

    &--title,
    &--solution,
    &--difficulty {
      margin-bottom: 2rem;
    }

    &--title {
      transition: all .3s;
      display: flex;
      flex-direction: row;
      align-items: center;

      &:hover {
        color: #6795de;
      }
    }
  }
}

.kata {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;

  &__title {
    font-size: 2rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.3rem;
    display: inline-block;

    &.side-bar {
      padding-left: 7px;
      padding-right: 7px;
      font-size: 1.4rem;
      float: left;
    }

    &--question {
      line-height: 150%;
      letter-spacing: .7px;
    }
  }

  &__form {
    text-align: right;
    width: 70rem;
  }

  &__submit {
    border: none;
    background-color: #6795de;
    width: 7rem;
    height: 3rem;
    border-radius: 4px;
    margin-top: 1.7rem;
    margin-right: 1rem;
    align-self: flex-end;
    display: inline-block;
    cursor: pointer;
  }

  &__content {
    display: block;
    position: relative;

    &--editor {
      display: inline-block;
      flex-direction: column;
      padding: 3rem 3rem 0px 3rem;
      position: relative;
      width: 70rem;

      & .solution-label {
        position: absolute;
        top: 0px;
        font-size: 1.5rem;
        letter-spacing: .7px;
        background-color: rgba(0,0,0,0.2) !important;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 3rem;
        width: 70rem;
        padding-left: 1rem;
        font-weight: 300;
      }
    }

    &--code {
      background-color: #131414;  
      width: 70rem;
      height: 35rem;
      border: none;
      color: #ffffff;
      letter-spacing: 1px;
      font-size: 1.5rem;
      padding: 1.5rem 2rem;

      &:focus {
        outline: none;
      }
    }
  }

  &__result-label {
    top: 0px;
    font-size: 1.5rem;
    letter-spacing: .7px;
    background-color: rgba(0,0,0,0.2) !important;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 3rem;
    width: 70rem;
    padding-left: 1rem;
    font-weight: 300;
    margin-top: 2rem;
    display: flex;
  }

  &__feedback {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    background-color: #131414;
    width: 70rem;
    height: 26rem;
    border: none;
    color: #ffffff;
    letter-spacing: 1px;
    position: relative;
    flex-grow: 1;
    display: inline-block;
    overflow: scroll;

    & ul {
      overflow: scroll;
    }

    &--basic-test {
      color: #676b6d;
    }
    
    &--success {
      font-size: 1.2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2rem;
    }

    & span {

      & p {
        transform: translateY(1px);
      }
    }

    &--icon-feedback {
      width: 1.7rem;
      height: 1.7rem;
      color: #7c9a44;
      margin-right: 8px;

      &-failed {
        color: #c05c48;
        width: 1.7rem;
        height: 1.7rem;
        color: #c05c48;
        margin-right: 8px;
      }
    }

    &--icon-result {
      margin-right: .7rem;
      display: inline-block;

      &-failed {
        color: #c05c48;
      }
    }

    &--detail {
      font-size: 1.3rem;
      font-weight: 300;
      margin-bottom: 7px;
      margin-left: 2.2rem;
      color: #67b04b;
      line-height: 1.8rem;

      & p {
        display: inline-block;
        transform: translateY(-3px);
      }
    }

    &--test-case {
      display: inline-block !important;
    }

    &--response {
      font-size: 1.2rem;
      display: inline-block;
    }

    &--failure {
      font-size: 1.2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 2rem;
    }
  }

  &__failed {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    margin-left: 2.2rem;
    color: #c05c48;

    &-result {
      display: block;
      padding-left: 2rem;
    }

    &--test-case {
      display: inline-block !important;
      margin-bottom: 7px;
      transform: translateY(-2px);
    }

    &--icon-result {
      margin-right: 3px;
    }
  }
}

.btn-to-list {
  text-align: right;
  width: 70rem;
  position: absolute;
  right: 17rem;
  top: 33rem;

  & button {
    border: none;
    width: 10rem;
    height: 3rem;
    border-radius: 4px;
    margin-top: 1.7rem;
    align-self: flex-end;
    display: inline-block;
    border: 1px solid #6795de;
    color: #6795de;
    background-color: transparent;
    margin-right: 1rem;
    transition: background-color .2s;
    cursor: pointer;

    &:hover {
      background-color: #0b0c0c;
    }
  }
}

.level {
  width: 6.5rem;
  height: 3.5rem;
  border: 2px solid #ecb613;
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.5rem;
  color: #ecb613;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .2s;
  font-weight: 300;

  &-all {
    color: #ffffff;
    border: 2px solid #ffffff;

    &:hover {
      background-color: #ffffff !important;
    }
  }
  
  &:hover {
    background-color: #ecb613;
    color: rgba(20,20,20,0.7);
    font-weight: 400;
  }

  &-small {
    width: 4.7rem;
    height: 2.5rem;
    font-size: 1.2rem;
  }
}

.CodeMirror {
  font-size: 1.7rem;
  width: 70rem;
}

.feedback-panel {
  display: inline-block;
  width: 70rem;
  height: 30rem;
  padding: 1rem 3rem 0rem 3rem;
}

.error {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;

  &__modal {
    width: 50rem;
    height: 30rem;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: 300;
    box-shadow: 5px 5px 25px 0 rgba(255,255,255,.1);
    border-radius: 5px;

    &--status {
      font-size: 4rem;
      margin-bottom: 1rem;
    }

    &--message {
      font-size: 2.7rem;
    }
  }
}

.btn-to-main {
  text-align: right;

  & button {
    width: 13rem;
    height: 3.8rem;
    border-radius: 3px;
    background-color: transparent;
    border: none;
    box-shadow: 5px 5px 25px 2px rgba(255,255,255,.1);
    color: #676b6d;
    font-size: 1.5rem;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}
